<div class="row">
    <div class="col-md-9" style="position: relative; z-index: 2;">
        <app-card title="撰写文章" cardClass="with-scroll">
            <form class="form-horizontal article-editor-main-form" [formGroup]="edit_form">
                <div class="form-group row" [ngClass]="controlStateClass(edit_form.controls['title'])">
                    <label for="title" class="col-sm-1 form-control-label text-right">文章标题</label>
                    <div class="col-sm-5">
                        <input autofocus type="text" placeholder="文章标题" id="title" class="form-control form-control-lg" formControlName="title"/>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{ 'has-success': tags.length && edit_form.touched }">
                    <label class="col-sm-1 form-control-label text-right">文章标签</label>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-control article-tags" title="选择文章标签">
                            <div class="tags-list">
                                <button class="btn btn-article-tag-item btn-with-icon btn-default text-muted disabled" *ngIf="!tags.length">
                                    <i class="fa fa-info"></i>
                                    <span>暂无标签</span>
                                </button>
                                <button 
                                    class="btn btn-sm article-tag-item" 
                                    *ngFor="let tag of tags"
                                    [ngClass]="tag.selected ? 'btn-primary' : 'btn-default'"
                                    (click)="tag.selected = !tag.selected"
                                    [title]="tag.description || tag.name"
                                    [disabled]="fetching['tag']"
                                    >
                                    <span>{{ tag.name }}</span>
                                </button>
                            </div>
                            <hr>
                            <div class="clearfix">
                                <button
                                    class="btn btn-sm btn-default btn-with-icon"
                                    [disabled]="fetching['tag']"
                                    (click)="getTags()"
                                    >
                                    <i class="fa fa-refresh"></i>
                                    <span>更新标签列表</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="controlStateClass(edit_form.controls['content'])">
                    <label for="content" class="col-sm-1 form-control-label text-right">文章内容</label>
                    <div class="col-sm-10">
                        <!-- <sa-markdown-editor
                        class="form-control article-content"
                        title="文章内容"
                        [formControl]="formContent"
                        (change)="handleContentChange($event)"
                        ></sa-markdown-editor> -->

                        <textarea #simplemde></textarea>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
    <!-- <div class="col-md-3">
      <sa-card title="分类目录" baCardClass="with-scroll">
        <box-article-edit-category [(category)]="article.category"></box-article-edit-category>
      </sa-card>
      <sa-card title="自定义扩展" baCardClass="with-scroll">
        <box-article-edit-extend [(extends)]="article.extends"></box-article-edit-extend>
      </sa-card>
      <sa-card title="发布选项" baCardClass="with-scroll">
        <box-article-edit-submit 
          [isEdit]="!!article._id"
          [(state)]="article.state"
          [(origin)]="article.origin"
          [(ppublic)]="article.public"
          [(password)]="article.password"
          (submitArticle)="submitArticle()">
        </box-article-edit-submit>
      </sa-card>
      <sa-card title="缩略图" baCardClass="with-scroll">
        <sa-picture-uploader [(ngModel)]="article.thumb"></sa-picture-uploader>
      </sa-card>
    </div> -->
</div>
  