@import url('https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css');

* { box-sizing: border-box; }

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px; /* showing the default */
    line-height: 1.8;
}

.article {
    margin: 0px;
    background-color: white;
    
    /* for mobile */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 40px;
    /* (shorthand) padding: 60px 30px 90px; */
}

$blue: #007ee5;
$gray: #7b8994;
$darkgray: #3d464d;


/* HEADER */
.category {
    font-family: 'Montserrat', sans-serif;
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.342em;
    line-height: 1;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; /* default */
    font-size: 2.415em;
    line-height: 1.2;
    
    /*
    letter-spacing: -1px;
    color: @blue;
    padding-bottom: 6px;
    border-bottom: 2px solid @gray;
    */
}

.pub-date {
    display: block;
    font-family: 'Open Sans', sans-serif;
    color: $gray;
    text-transform: uppercase;
    font-size: 74.5%; 
    font-size: 0.745em; /* 74.5% of parent */
}
/* END HEADER */


/* ARTICLE CONTENT */
p {
    /* we did most of the work in the body tag! */
    margin-bottom: 1em;
}

h2 {
    font-size: 1.8rem;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.342rem;
    line-height: 1;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
}

/* inline vs inline-block; */
code {
    display: inline;
    /* display: inline-block; */
    vertical-align: baseline;
    padding-top: 0px;
    /* padding-bottom: 300px; */
    padding-left: 10px;
    padding-right: 10px;
    background-color: whitesmoke;
    /* background-color: fade(teal, 30%); */
}

/* What <display> are images ? */
/* another great default, for your sanity. */
img {
    /* display: block; */
    max-width: 100%;
}

sup { 
    font-family: 'Open Sans', sans-serif;
}

figure {
    margin: 2em 0 1em;
    /* what is a float ? */
    /*
    float: right;
    width: 70%;
    padding: 0;
    margin-right: -25%;
    margin-left: 1em;
    */
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    color: $gray;

    line-height: 1.8em;
    text-align: center;
    padding: 0.5em 1em;
}

.center {
    width: 100%;
    
    height: 60px;
}
.like {
    position: relative;
    font-size: 23px;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0px auto;
}
.like i {
    position: absolute;
    left: 0;
    right: 0;
    line-height: 60px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-box-reflect: below -45px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}
.outer {
    font-size: 280%;
    color: #8C8C8C;
}
.like:hover i {
    color: #169AF9;
}
.like:hover .outer {
    font-size: 300%;
    color: rgb(73, 73, 73);
}
.active {
    color: #169AF9;
}
.active .outer {
    color: rgb(73, 73, 73);
}


$ptsans: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$placeholder: #ced2db;
$text-color: #555f77;
$links: #0095ff;
input, textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: $ptsans;
    font-size: 16px;
    color: $text-color;
}
p {
    line-height: 21px;
}
.comments {
    margin: 35px auto 0;
}
.comment-wrap {
    margin-bottom: 20px;
    display: table;
    width: 100%;
    min-height: 85px;
}
.photo {
    padding-top: 10px;
    padding-right: 10px;
    display: table-cell;
    width: 56px;
  
    .avatar {
        border-radius: 50%;
    }
}
.comment-block {
    padding: 16px;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
    position: relative;
  
    textarea {
        width: 100%;
        resize: none;
    }

    .commit {
        position: absolute;
        right: 15px;
        bottom: 10px;
        color: #acb4c2;
        cursor: pointer;
    }
    .commit:hover {
        color: #007ee5;
    }
}
.comment-text {
    margin-bottom: 20px;
}
.bottom-comment {
    color: #acb4c2;
    font-size: 14px;
}
.comment-date {
    float: left;
}
.comment-actions {
    float: right;
    margin-bottom: 0px;
    
    li {
        display: inline;
        margin: -2px;
        cursor: pointer;
        
        &.complain {
            padding-right: 12px;
            border-right: 1px solid #e1e5eb;
        }
        &.reply {
            padding-left: 12px;
            padding-right: 12px;
        }
        &:hover {
            color: $links;
        }
    }
}